{% extends 'main/layout.html' %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <div>
        <h3>Введите новый пароль и подтвердите его</h3>
        <form method="post">
            {% csrf_token %}
            Старый пароль: <input name="oldpass" type="password" placeholder="Старый пароль" class="form-control"><br>
            Новый пароль: <input name="newpass" type="password" placeholder="Новый пароль" class="form-control"><br>
            Подтвердите новый пароль: <input name="confirmpass" type="password" placeholder="Подтвердить пароль" class="form-control"><br>
            <button class="btn btn-success" type="submit" class="form-control">Сменить пароль</button>
            <a href="{{ back_url }}" class="btn btn-danger">Назад</a>
            <br>
        </form>
        <p>{{ error }}</p>
    </div>
    

{% endblock %}