{% extends 'main/layout.html' %}

{% block title %}Изменение данных{% endblock %}

{% block content %}
    <div>
        <h3>Изменить данные сотрудника</h3>
        <form method="post">
            {% csrf_token %}
            Зарплата: <input name="salary" type="text" placeholder="Зарплата" class="form-control" value="{{ edituser.salary }}"><br>
            <button class="btn btn-success" type="submit" class="form-control">Изменить данные</button>
            <a href="{{ back_url }}" class="btn btn-danger">Назад</a>
            <br>
        </form>
    </div>


{% endblock %}